    <footer class="footer-header">
        <nav class="footer-header__nav">
            <ul class="footer-header__item-list">
                <li class="footer-header__item"><a href="#">About</a></li>
                <li class="footer-header__item"><a href="#">Contact</a></li>
            </ul>
        </nav>
    </footer>
